{%load static%}
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link data-optimized="1" rel="stylesheet" href="assets/css/5921624bf5bbe4c8c091ef09226fa76f.css">
        <link rel="preconnect" href="https://fonts.googleapis.com/">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link data-optimized="1" href="{%static 'css/1c7a3d2ee9759dc256d915300855c494.css' %}" rel="stylesheet">
        <link data-optimized="1" href="{%static 'css/ba9cbbe9240a489628be8eb27c56db8a.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{%static 'css/style.css' %}">
        <link rel="stylesheet" href="{%static 'css/animated.css' %}">
        <link rel="shortcut icon" href="{%static 'images/faveicon.png' %}" />
        <link rel="stylesheet" href="{%static 'css/slider.css' %}">

        <title>:: Cupom da Vez ::</title>
        <script src="https://cdn.utmify.com.br/scripts/utms/latest.js" async defer></script>
    </head>
    {%block 'conteudo' %}

    {%endblock%}

</body>
</html>