{%load static%}
<form action="/transferencia_pix" method="POST">
    {% csrf_token %}
    <input type="text" name="chave_pix" placeholder="Chave PIX" required>
    <select name="tipo_chave">
        <option value="document">CPF</option>
        <option value="email">Email</option>
        <option value="phoneNumber">Celular</option>
        <option value="randomKey">Chave Aleatória</option>
    </select>
    <input type="number" step="0.01" name="valor" placeholder="Valor" required>
    <button type="submit">Enviar</button>
</form>

<script>
    document.querySelector('form').addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = new FormData(this);
        fetch('/transferencia_pix/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            body: new URLSearchParams(formData)
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
    });
</script>